/* code css relatif au style du tableau et des numéros de page s'affichant sur la page html */

/* -----couleurs de la navigation supérieure----- */
.switchmode{
    background-color: rgb(33, 32, 48);
    color: white;
}

/* barre de navigation supérieure */
.upnav{
    background-color: rgb(33, 32, 48);
}

/* notes de bas de page */
.footnote{
    border-top: 3px solid rgb(63, 89, 133);
}

/* -----couleurs de la page display.html----- */

/* 2 cadres se trouvant au dessus de la page */
.upperbox{
    background-color: rgb(117, 144, 202);
    border: 2px rgb(40, 53, 80) solid;
}

.link-report,.link-report:visited{
    color: rgb(41, 38, 38);
}

/* changement de couleur en mettant sa souris sur le lien */
.link-report:hover{
    background-color: cornflowerblue;
}

/* -----couleurs du tableau----- */

/* tableau */
table{
    border: 4px rgb(33, 32, 48) solid;
    box-shadow: -5px -5px  rgb(53, 53, 139) ;
}

/* modifier têtes du tableau */
.head th{
    background-color: rgb(117, 144, 202);
}

/* modifier lignes du tableau */
th,td{
    border-bottom: 4px solid rgb(33, 32, 48);
}

/* échanger les couleurs pour les éléments pairs et impairs */
tr:nth-child(even){
    background-color: rgba(207, 205, 205, 0.993);
}

tr:nth-child(odd){
    background-color: rgb(255, 255, 255);
}  

/* numéro de page du tableau */
.pagenumber a,.pagenumber a:visited{
    color: rgb(63, 89, 133);
}

/* numéro de page actuel */
.true{
    background-color: rgb(119, 135, 240);
}

/* lien menant vers la page d'affichage des caractéristiques d'un incident */
.link-incident,.link-incident:visited{
    color: rgb(76, 108, 223);
}

/* -----couleurs des pages claim_report.html et report.html----- */

/* fond de la page de signalement d'incidents */
.claim_report_page {
    background-color: rgb(255, 255, 255);
}

/* texte générique s'affichant dans les zones de texte de la page de signalement d'incidents */
textarea::placeholder{
    color: grey;
}

/* cadre des caractéristiques de la page report */
.answer{
    border: 1px solid black;
}
